.trngl-up-dmnd-cont{
  height: 42.81vh;
  width: 37.9vw;
  position: absolute;
  left: 28.65vw;
  top: 60px;
}

.trngl-up-dmnd {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff, #77777777);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.trngl-dwn-dmnd-cont{
  height: 42.81vh;
  width: 37.9vw;
  position: absolute;
  left: 28.65vw;
  top: 52.5vh;
}

.trngl-dwn-dmnd {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000000, #77777777);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


.trngl-style-cont{
  height: 66.03vh;
  width: 43.366vw;
  position: absolute;
  left: 25.7vw;
  top: 34vh;
}

.trngl-style{
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000, #7f7f7f);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
  
.trngl-tw-cont{
  height: 46.76vh;
  width: 41.4vw;
  position: absolute;
  left: 27vw;
  top: 60px;
}

.trngl-tw{
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fff, #7f7f7f);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.rectLeft {
  position: absolute;
  width: 35vw;
  height: 8.3vh;
  left: 0;
  top: 52.7vh;
  transform: translateY(-50%);
  opacity: 80%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectRight {
  position: absolute;
  width: 40vw;
  height: 8.3vh; 
  right: 0;
  top: 52.7vh;
  transform: translateY(-50%);
  opacity: 80%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left{
  position: relative;
  top: 2vh;
  left: -8vw;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow-left path{
  transform: scale(6,3)
}

.arrow-right{
  position: relative;
  top: 2vh;
  right: -25vw;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow-right path{
  transform: scale(6,3)
}

.text-arrws{
  position: relative;
  font-size: 22px;
  font-family: monospace;
  text-transform: capitalize;
  color: #fff;
}

.text-arrws:hover{
  text-decoration: underline;
  display: block;
  cursor: pointer;
}

.text-next-poke{
  right: -6.67vw;
}

.text-prev-poke{
  left: -6.67vw;
}

.text-specs{
  position: absolute;
  font-size: 20px;
  font-style: italic;
}

.text-char{
  top: 253px;
  left: 183px;
}

.text-status{
  top: 378px;
  left: 284px;
}

.text-evolution{
  top: 378px;
  left: 879px;
}

.text-versions{
  top: 253px;
  left: 879px;
}