.container-id{
  position: absolute;
  width: 100vw;
  top: 21.8vh;
}

.id{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  left: -2.4vw;
  top: -3vh;
}

/* .body-app-d{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
} */

.id p{
  /*font-family:  Arial, Georgia, 'Trebuchet MS', Verdana, 'Lucida Sans', 'Gill Sans', monospace;*/
  font-family: monospace;
  font-size: 32px;  
  font-weight: 800;
  color: inherit;
  padding: 0;
  margin: 0;
}

.flavor-text{
  position: absolute;
  top: 24vh;
  left: 72.5vw;
  width: 22vw;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.content-app-d{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details{
  display: flex;
  flex-direction: row;
  justify-items: left;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  
}

.specs{
  color: white;
  position: absolute;
  top: 100px;
  padding: 10px;
  border-radius: 50px;
  width: 500px;
  height: min-content;
}

.category{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.versions {
  position: relative;
  width: 310px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background-color: #808080;
  border-radius: 20px;
  padding: 0;
}

.versions-div {
  /* position: absolute; */
  /* top: 20px; Adjust as needed */
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.versions svg{
  border-radius: 100%;
  background-color: gray;
  margin-top: 5px;
}

.versions svg:hover{
  opacity: 40%;
}

.versions path{
  fill: black;
}

.type-colors{
  /*Césped - Verde*/
  color: #2D7F11;
  color: hsl(112, 76%, 27%);
  
  /*Veneno - Verde fosforescente*/
  color: #D2F513;
  color: hsl(66, 89%, 52%);
  
  /*Fuego - Naranja*/
  color: #F76F1C;
  color: hsl(22, 91%, 55%);

  /*Volador - Azul*/
  color: #134690;
  color: hsl(215, 76%, 31%);

  /*Agua - Celeste oscuro*/
  color: #569EFF;
  color: hsl(210, 100%, 67%);

  /*Insecto - Aguamarina*/
  color: #14C2C2;
  color: hsl(180, 81%, 43%);
  
  /*Normal - gris claro*/
  color: #ABA9AB;
  color: hsl(240, 1%, 67%);

  /*Electricidad - Amarillo*/
  color: #F5EE13;
  color: hsl(56, 89%, 53%);

  /*Tierra - Marrón claro*/
  color: #A7692F;
  color: hsl(24, 56%, 43%);

  /*Hada - Rosa*/
  color: #FD4AF5;
  color: hsl(302, 94%, 66%);

  /*Lucha - Marrón oscuro*/
  color: #5F3A18;
  color: hsl(24, 54%, 23%);

  /*Psíquico- Lila */
  color: #E3ABF9;
  color: hsl(276, 85%, 83%);
  
  /*Roca - Gris oscuro*/
  color: #494A4B; 
  color: hsl(210, 2%, 29%); 

  /*Acero - Plateado*/
  color: #9AA6B5;
  color: hsl(213, 11%, 67%);
  
  /*Hielo - Celeste Claro*/
  color: #B9D7FF;
  color: hsl(210, 100%, 85%);

  /*Fantasma - Blanco*/
  color: #FFFFFF;
  color: hsl(0, 0%, 100%);

  /*Dragón - Rojo*/
  color: #DE1521;
  color: hsl(357, 79%, 46%);

  /*Oscuro - Negro*/
  color: #000000;
  color: hsl(0, 0%, 0%);

  /*Por defecto - Gris*/
  color: #222222;
  color: hsl(0, 0%, 13%);
}