p, h3{
  color: black;
}

.body-app{
  margin-left: -0px;
}

.id{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  text-transform: capitalize;
}

.content-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -150px;
}

.details{
  display: flex;
  flex-direction: row;
  justify-items: left;
}

.image img{
  width: 600px;
  margin-top: -150px;
  margin-left: -100px;
}

.specs{
  background-color: rgba(255,255,255,.9);
  padding: 10px;
  border-radius: 50px;
  width: 500px;
  height: min-content;
}

.versions{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.versions div{
  margin: 5px;
}


.category{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}



svg{
  border-radius: 100%;
  background-color: gray;
}

svg:hover{
  opacity: 40%;
}

path{
  fill: black;
}

.red svg, .red path{
  background-color: rgb(200, 0, 0);
}

.blue svg, .blue path{
  background-color: rgb(0, 0, 200);
}

.yellow svg, .yellow path{
  background-color: rgb(200,200,0);
}

.gold svg, .gold path{
  background-color: rgb(201, 171, 0);
}

.silver svg, .silver path{
  background-color: rgb(139, 139, 139);
}

.crystal svg, .crystal path{
  background-color: #a7d8de;
}

.ruby svg, .ruby path{
  background-color: #e0115f;
}

.sapphire svg, .sapphire path{
  background-color: #0F52BA;
}

.emerald svg, .emerald path{
  background-color: #50C878;
}

.firered svg, .firered path{
  background-color: #A9423F;
}

.leafgreen svg, .leafgreen path{
  background-color: #c1d11f;
}

.diamond svg, .diamond path{
  background-color: #b9f2ff;
}

.pearl svg, .pearl path{
  background-color: #E2DFD2;
}

.platinum svg, .platinum path{
  background-color: #e5e4e2;
}

.heartgold svg, .heartgold path{
  background-color: #808000;
}

.soulsilver svg, .soulsilver path{
  background-color: rgb(22,22,64);
}

.black svg, .black path{
  fill:white;
  background-color: black;
}

.white svg, .white path{
  background-color: white;
}

.white-2 svg, .white-2 path{
  background-color: rgb(230, 230, 230);
}

.black-2 svg, .black-2 path{
  background-color: rgb(20,20,20);
  fill:white;
}

.omega-ruby svg, .omega-ruby path{
  background-color: #C50124;
}

.alpha-sapphire svg, .alpha-sapphire path{
  background-color: #0000a0;
}

.lets-go-pikachu svg, .lets-go-pikachu path{
  background-color: #f4dc26;
}

.sword svg, .sword path{
  background-color: #7b8085;
}

.shield svg, .shield path{
  background-color: #991b1e;
}

.lets-go-eevee svg, .lets-go-eevee path{
  background-color: #201303;
  fill:white;
}
